# =========================
# 摄影原图 (绝对不能传到 Git)
# =========================
raw_photos/

# =========================
# 操作系统自动生成的垃圾文件
# =========================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# =========================
# Python 缓存文件 (运行处理脚本时可能产生)
# =========================
__pycache__/
*.py[cod]
*$py.class